/*текст*/
.text-1{
    font-size: 6vw
}
.text-2{
    font-size: 3vw
}
.Nav-text{
    font-size: 1.2vw;
    gap:5%
}
.Main-title{
    padding-bottom: 5%;
}

/*все что связано с масками*/
.Image{
    mask: url("/src/assets/mask.png");
    mask-repeat: no-repeat;
    mask-position: bottom;
    mask-size: 165%;
}


.Mask-block{
    width: 55%;
    transform: translateX(75%)
}
.Shape{
    transform: translateY(-13.4%)
}
.Image{
    width: 61%;
    transform: translateX(32%) translateY(10%)
}

@media (max-aspect-ratio: 1/1) {
    .text-2{
        font-size: 4vh;
        text-align: center;
    }
    .text-1{
        font-size: 7vh;
        text-align: center;
    }
    .Nav-text{
        justify-content: center;
        font-size: 3vw

    }
    .About{
        gap:40px
    }
    span{
        line-height: 1.2;
    }

    /*для маски*/

    .Mask-block{
        width: 130%;
        transform: translateX(0%)
    }
    .Shape{
        transform: translateY(-13.4%)
    }

    .Image{
        width: 61%;
        transform: translateX(32%) translateY(10%)
    }
}


